---
import "@styles/global.scss";
import BgThemeChanger from "@components/Bg-ThemeChanger.jsx";
const { title } = Astro.props;
---

<html lang="en" class="box-border">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />
    <title>{title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body class="flex h-screen w-full flex-col items-center justify-center relative">
    <BgThemeChanger client:only="react" />
    <main
      class="text-dark container relative mx-auto h-screen overflow-hidden bg-white/50 shadow-2xl backdrop-blur-[2px] dark:bg-black/50 dark:text-white sm:rounded-2xl"
    >
      <slot />
    </main>
  </body>
</html>
